body {
    background: #fff;
    font-size: 12px;
    font-family: "verdana", "Lucida Grande", "Segoe UI", Arial, Helvetica, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    color: black;
}
.container-fluid {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
    .clearfix:before, .clearfix:after, .dl-horizontal dd:before, .dl-horizontal dd:after, .container:before, .container:after, .container-fluid:before, .container-fluid:after, .row:before, .row:after, .form-horizontal .form-group:before, .form-horizontal .form-group:after, .btn-toolbar:before, .btn-toolbar:after, .btn-group-vertical > .btn-group:before, .btn-group-vertical > .btn-group:after, .nav:before, .nav:after, .navbar:before, .navbar:after, .navbar-header:before, .navbar-header:after, .navbar-collapse:before, .navbar-collapse:after, .pager:before, .pager:after, .panel-body:before, .panel-body:after, .modal-footer:before, .modal-footer:after {
        display: table;
        content: " ";
    }
.logo {
    float: left;
    margin: 6px 0 0 0px;
}
.col-sm-3 {
    width: 25%;
}
.pull-left {
    float: left !important;
}
.banner_text {
    float: left;
    margin: 14px 0 0 0;
    text-align: center;
    font-family: Arial;
}
    .banner_text h1 {
        font-weight: 700;
        text-transform: uppercase;
        font-size: 17px;
        color: #222e8e;
        margin: 0;
        padding: 7px 0 2px 0;
    }
    .banner_text h2 {
        font-weight: 700;
        /* text-transform: uppercase; */
        font-size: 21px;
        color: #222e8e;
        margin: 0;
        padding: 2px 0 5px 0;
    }
.col-sm-7 {
    width: 58.33333333%;
}
.logo {
    float: left;
    margin: 6px 0 0 0px;
}
.pull-right {
    float: right !important;
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
    display: block;
}
.navbar-inverse {
    background: #bd135b;
    border-top: 3px solid #c7c7c7;
    border-bottom: 3px solid #c7c7c7;
    height: 34px;
    margin-bottom: 20px;
}
.clearfix:before, .clearfix:after, .dl-horizontal dd:before, .dl-horizontal dd:after, .container:before, .container:after, .container-fluid:before, .container-fluid:after, .row:before, .row:after, .form-horizontal .form-group:before, .form-horizontal .form-group:after, .btn-toolbar:before, .btn-toolbar:after, .btn-group-vertical > .btn-group:before, .btn-group-vertical > .btn-group:after, .nav:before, .nav:after, .navbar:before, .navbar:after, .navbar-header:before, .navbar-header:after, .navbar-collapse:before, .navbar-collapse:after, .pager:before, .pager:after, .panel-body:before, .panel-body:after, .modal-footer:before, .modal-footer:after {
    display: table;
    content: " ";
}
.container > .navbar-header, .container-fluid > .navbar-header, .container > .navbar-collapse, .container-fluid > .navbar-collapse {
    margin-right: 0;
    margin-left: 0;
}
.mid_box {
    width: 90%;
    margin: 0 auto;
    padding-bottom: 10px;
    border: solid 1px #045ea0;
    background: #fff;
    border-radius: 0 0 8px 8px;
}
.inst_table td, .inst_table th {
    padding: 5px 2px;
    font-size: 12px;
}
input[type="email"], input[type="number"], input[type="password"], input[type="tel"], input[type="text"], input[type="url"], input[type="select"], textarea {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    /* -moz-box-sizing: border-box; */
    background: none repeat scroll 0 0 #FFFFFF;
    border-color: #D9D9D9 #D9D9D9 #D9D9D9;
    border-image: none;
    border-radius: 1px 1px 1px 1px;
    border-right: 1px solid #D9D9D9;
    border-style: solid;
    border-width: 1px;
    display: inline-block;
    height: 24px;
    margin: 0;
    padding: 0 8px;
    width: 180px;
    color: #2E2E2E;
    *padding: 4px 8px;
    *height: auto;
    background-color: #f5f5f5;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}
.rounded_footer {
    width: 1203px;
    height: 20px;
    position: relative;
    margin: 0 auto;
    /* background: url(../../Images/rounded-footer.jpg) center top no-repeat; */
}
.left_footer {
    width: 15px;
    height: 20px;
    position: relative;
    left: 0;
    float: left;
    top: 0px;
}
.right_footer {
    width: 15px;
    height: 20px;
    float: left;
    position: absolute;
    right: 0;
    /* background: url(../../Images/rounded-footer.jpg) right top no-repeat; */
}
.cleaner {
    clear: both;
    display: block;
}
#footer {
    background-color: #bd135b;
    border-top: 1px solid #e5e5e5;
    color: #fff;
    padding: 10px 0;
    margin: 10px 0 0 0;
    text-align: center;
}
    #footer p {
        margin: 5px auto 5px auto;
        color: White;
        font-size: 12px;
        text-align: center;
        line-height: 18px;
    }
input[type="submit"], input[type="button"], .btnurl {
    border-style: none;
    border-color: inherit;
    border-width: 0;
    background: #045EA0;
    color: #fff;
    cursor: pointer;
    font-size: 12px;
    font-weight: normal;
    overflow: visible;
    padding: 5px 25px;
    text-align: center;
    text-transform: uppercase;
    border-radius: 4px;
    height: 28px;
}
.text-danger, .ValidatorError {
    color: #E80F0B;
    font-family: Trebuchet MS;
    font-style: italic;
}
td, th {
    padding: 0;
}
input[type="submit"], input[type="button"], .btnurl {
    border-style: none;
    border-color: inherit;
    border-width: 0;
    background: #045EA0;
    color: #fff;
    cursor: pointer;
    font-size: 12px;
    font-weight: normal;
    overflow: visible;
    padding: 5px 25px;
    text-align: center;
    text-transform: uppercase;
    border-radius: 4px;
    height: 28px;
}
.sub_blue {
    background: url(../Images/blue_proce.jpg) right top no-repeat !important;
    width: 259px !important;
    height: 35px !important;
    margin: 7px 0 0 10px;
    font-weight: bold !important;
    padding: 6px 35px !important;
}
.tableborder {
    /* color: #666; */
    color: black;
    border-left: solid 1px lightgray;
    border-top: solid 1px lightgray;
}
    .tableborder tr th {
        font-size: 12px;
        padding: 1px 4px;
    }
    .tableborder th {
        background: Silver;
        font-size: 12px;
        font-weight: bold;
        padding: 3px 3px;
        color: black;
        border-right: solid 1px lightgray;
        border-bottom: solid 1px lightgray;
    }
.auto-style1 {
    height: 26px;
}
.tableborder td {
    font-size: 12px;
    padding: 3px 3px;
    border-right: solid 1px lightgray;
    border-bottom: solid 1px lightgray;
}